* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #ece2c6;
}

/* navigation bar and header */
header {
    padding: 20px;
    background-color: #311212;
    color: #ece2c6;
}

header div ul li {
    display: inline-block;
    margin-left: 20px;
}

.name {
    display: inline-block;
    font-size: 48px;
    padding: 10px;
    background-color: #1d0505;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav {
    padding: 20px;
    margin-right: 70px;
    float: right;
    font-size: 30px;
    background-color: #1d0505;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

a:link {
  color: #ece2c6;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: #ece2c6;
  background-color: transparent;
  text-decoration: underline;
}


/* subtitle section */
.sub {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/11/15-Presentation-Background-Examples16.jpeg");
    background-size: cover;
    background-position: center;
}

.subtitle {
    padding: 50px;
    text-align: center;
}


/* about me section */
#aboutMe {
    font-size: 35px;
    margin-left: 60px;
    margin-right: 1050px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    text-align: center;
}

.about {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 25px;
    font-size: 20px;
    display: inline-block;
    width: 61%;    
}

.picme {
    float: right;
    height: 300px;
    width: 310px;
    border-style: solid;
    border-width: 3px;
    margin-right: 70px;
}


/* works section */
#work {
    font-size: 35px;
    margin-left: 60px;
    margin-right: 1050px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    text-align: center;
}

.works img {
    border-color: #1d0505;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.smallpic {
    height: 250px;
    width: 460px;
    border-style: solid;
    border-width: 3px;
    margin-left: 300px;
}

.bigpic {
    height: 500px;
    width: 950px;
    border-style: solid;
    border-width: 3px;
    margin-left: 200px;
    margin-top: 10px;
}

.bigpichead {
    float:left;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    position: relative;
    margin-bottom: -50px;
    margin-left: 500px;
    border-style: solid;
    border-width: 1px;
}

.storehead {
    float:left;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    position: relative;
    margin-bottom: -50px;
    margin-left: 450px;
    border-style: solid;
    border-width: 1px;
}

.pseudohead {
    font-size: 30px;
    padding: 10px;
    width: 20%;
    text-align: center;
    background-color: white;
    position: relative;
    margin-bottom: -40px;
    margin-left: 400px;
    border-style: solid;
    border-width: 1px;
}


/* contacts section */
#contactMe {
    font-size: 35px;
    margin-left: 60px;
    margin-right: 1050px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    position: relative;
    margin-bottom: -40px;
}

.contacts {
    display: inline-block;
    font-size: 25px;
    text-decoration: underline;
    padding: 20px;
    background-color: #1d0505;
    width: 100%;
    padding-left: 25%;
}

.contacts ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}


/* fits web to different sizes */
@media screen and (max-width: 768px) {
    header, body {
      flex-direction: column;
    }
  }
  
